.container {
    border: 5px solid #090909;
    display: flex;
   
  }
  
  .search {
    flex: 1;
  }
.btn {
  font-size: x-large;
  background-color: rgb(40, 178, 181);
} 

.btn:hover {
  background-color: aquamarine;

}